@import "../../assets/style/abstracts/variables";
@import "../../assets/style/abstracts/mixins";

.period {
    display: flex;
    justify-content: center;
    flex: 1 100%;
    @include breakpoint(medium) {
        flex: 1;
        justify-content: flex-start;
    }
    &__btn{
        background: $primary-color;
        border: 1px solid  darken($primary-color, 5%);
        &:hover {
            background: darken($primary-color, 5%);
            border: 1px solid  darken($primary-color, 8%);
        }
        &:not(:disabled):not(.disabled) {
            &.active {
                background-color: darken($primary-color, 5%) ;
                border: 1px solid  darken($primary-color, 5%);
                &:focus{
                    box-shadow: none;
                }
            }
            &:active {
                background-color: darken($primary-color, 5%) ;
            }
        }
        &.active {
            background-color: darken($primary-color, 5%) ;
            border: 1px solid  darken($primary-color, 5%);
        }
    }
}