.date {
    display: flex;
    flex-wrap: wrap;
    &__button {
        flex: 1;
        border: none;
        background: none;
        cursor: pointer;
        color: #666;
        &:focus {
            outline: none;
        }
    }
    &__display {
        width: 100px;
        text-align: center;
    }
    &__info {
        flex: 1 100%;
        text-align: center;
        color: #999;
        font-size: 0.8em;
    }
}