a:link,
a:visited,
a:hover,
a:active {
    border: none;
    outline: 0;
}
a {
    text-decoration: none;
}
h1, h2,
h3, h4,
h5, h6 {
    margin: 0px;
    padding: 0px;
}
ul {
    list-style: none;
    padding-left: 0px;
    margin: 0;

}
html {
    margin:0;
    padding: 0;
    height: 100%;
}
body {
    margin:0;
    padding: 0;
    height: 100%;
}

*{    
  outline: none;
 }



