@import "../../assets/style/abstracts/variables";
@import "../../assets/style/abstracts/mixins";

.list {
    flex: 1 100%;
    margin-top: 20px;
    .list-group-item {
        padding: .75rem 1rem;
        @include breakpoint(medium) {
            padding: .75rem 1.25rem;
        }        
    }
    &__item {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        align-items: stretch;
        padding: 10px 0; 
        border-bottom: 1px solid #ccc;
        &__fake-check {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            font-size: 1em;
            padding-top: 9px;
            svg {
                color: $secondary-color
            }
            &--done {
                svg {
                    color: #4fbe58;
                }
            }
        }
        &__check {
           display: none; 
        }
        &--done {
            text-decoration: line-through;
        }
        &:last-child {
            border: none;
        }
        &__col {
            display: flex;
            align-items: center;

            &:nth-child(1){
                flex-basis: 35px;
            }
            
            &:nth-child(2){
                flex: 3;
            }
            
            &:nth-child(3){
                flex: 1;
            }
            
            &:nth-child(4){
                flex-basis: 100px;
                display: none;
                @include breakpoint(medium) {
                    display: flex;
                }
            }

            &:nth-child(5){
                flex-basis: 100px;
                display: none;
                @include breakpoint(medium) {
                    display: flex;
                }
            }

            &:nth-child(6){
                flex-basis: 40px;
                padding-left: 5px;                
                justify-content: space-around;
                @include breakpoint(medium) {
                    display: flex;
                }
                
            }
        }
    }
    &__btn{
        background: $primary-color;
        border: 1px solid  darken($primary-color, 5%);
        margin-left: 8px;
        &:hover {
            background: darken($primary-color, 5%);
            border: 1px solid  darken($primary-color, 8%);
        }
        &:not(:disabled):not(.disabled) {
            &.active {
                background-color: darken($primary-color, 5%) ;
                border: 1px solid  darken($primary-color, 5%);
                &:focus{
                    box-shadow: none;
                }
            }
            &:active {
                background-color: darken($primary-color, 5%) ;
            }
        }
        &.active {
            background-color: darken($primary-color, 5%) ;
            border: 1px solid  darken($primary-color, 5%);
        }
    }
    &__alert {
        margin-top: 15px;
        text-align: center;        
    }
    .badge {
        margin-right: 10px; 
    }
}