@import "../../assets/style/abstracts/supports";

%common {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  min-width: 360px;
  margin: auto;
  box-sizing: border-box;
}
.container {
  @extend %common;
  @extend %defaultPadding;
}
