%defaultPadding {    
    padding: 25px;
    @media only screen and (min-width: 600px) {        
        padding: 30px;
    }
}

%transition {
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}